*{
  box-sizing: border-box;
}
body{
  background-color: rgb(233, 210, 146);

}
h1,p{
  text-align:center;
  font-weight: 800;
  
}
h1{
  text-transform: uppercase;
}

label{
  display:block;
  margin:1rem 0;
}
input,textarea,select{
    width:100%;
    margin-top:10px;
    border-radius: 5px;
    padding:6px;
    font-size:medium;
    
    
}

.hover:hover{
  
  box-shadow: 0 0 1px 2px blueviolet;
  
}
textarea{
  height: 150px;
  font-size: 1.2rem;
}
select{
  padding:6px;
  
}

input[type="radio"]{
  width:unset;
}
input[type="checkbox"]{
  width:unset;
}
.form-container{
  width:80%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(24, 19, 31);
  color:white;
  padding:15px;
  border-radius:6px;
  font-size: 1.2rem;
}
fieldset{
  border:0;
  margin-bottom:-2rem;
}
#submit{
  display: block;
  width:20%;
  margin:2rem auto;
  padding:15px;
  border-radius:5px;
  font-size: 1.2rem;
  font-weight:600;
  
  
}
#submit:hover{
  background-color: blueviolet;
}